# Dependencies
node_modules/
/.pnp
.pnp.js
package-lock.json

# Next.js build output
.next/
out/

# C++ Build outputs & intermediate objects
*.o
*.obj
*.out
*.exe
*.dll
*.so
*.dylib
algorithm-core/bin/

# Production builds
dist/
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local environment variables
.env*.local
.env

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
